body{
  text-align: center;
  padding-top: 2rem;
  color:white;
  background-color: rgb(41, 40, 40);
}
h1{
  font-size: 5rem;
}
.gameBoard{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  max-width: 80%;
  margin-right:auto;
  margin-left:auto;
}

.dice1{
  background-color: blue;
  padding:2rem;
  border-radius:20px;
  margin-right:1rem;
  /* max-width: 300px;
  max-height: 300px; */
}

.dice2{
  background-color: red;
  padding:2rem;
  border-radius:20px;
  margin-left:1rem;
  /* max-width: 300px;
  max-height: 300px; */
}

section i{
  font-size:15rem;
}
.result{
  margin-top: 3rem;
  font-size:3rem;
}
.roller{
  margin-top:5rem;
}

#rollBtn{
  padding:2rem 5rem;
  color:white;
  background-color:transparent;
  font-size: 3rem;
}

@media (max-width: 600px) {
 section i {
   font-size: 5rem;
   padding:1rem;
  }
  .gameBoard{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
  }
  .dice1, .dice2{
    margin: 1rem 0rem 1rem 0rem;
  }
  .resultMessage{
    font-size: 2rem;
  }
  h1{
    font-size: 2rem;
  }
  #rollBtn{
    padding:2rem;
    font-size: 1.5rem;
  
  }
  .roller{
    margin-top:1rem;
  }
}